/* Introductory Text */
.content-intro {
  font-size: 1.1rem;
  margin-bottom: 40px;
  color: var(--text-secondary);
  text-align: center;
  line-height: 1.6;
  font-family: "Minecraft", monospace;
}

.content-box-title {
  font-family: "Minecraft", monospace;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--highlight-color);
  margin-bottom: 10px;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 15px;
}

.subsection-title {
  font-family: "Minecraft", monospace;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--highlight-color);
  margin-bottom: 10px;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 10px;
}

.highlight {
  color: var(--highlight-color);
}

.subsubsection-title {
  font-family: "Minecraft", monospace;
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--highlight-color);
  margin-bottom: 10px;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 10px;
}

.subsubsection-title {
  font-family: "Minecraft", monospace;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--highlight-color);
  margin-bottom: 5px;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 5px;
}

.input-label {
  position: relative;
  font-family: "Minecraft", monospace;
  font-size: 1rem;
  color: var(--text-primary);
  margin-right: 10px;
  white-space: nowrap;
}

.minecraft {
  font-family: "Minecraft", monospace;
}

.minecraft-gray {
  font-family: "Minecraft", monospace;
  color: var(--text-secondary);
}

.minecraft-link {
  color: #3b82f6;
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.3s;
}

.minecraft-link:hover {
  color: #2563eb;
}

.parameters-section {
  margin-bottom: 20px;
  padding: 10px;
  background-color: var(--background-secondary);
  border: 1px solid var(--border-color);
  border-radius: 10px;
}

.parameters-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.parameter-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  border-bottom: 1px dashed var(--border-color);
}

.parameter-item:last-child {
  border-bottom: none;
}

.parameter-name {
  font-family: "Minecraft", monospace;
  color: #4caf50; /* Highlight color for the parameter name */
  font-weight: bold;
  font-size: 1rem;
}

.parameter-description {
  font-family: "Minecraft", monospace;
  color: var(--text-secondary);
  font-size: 0.9rem;
}

.commands-title {
  font-family: "Minecraft", monospace;
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--highlight-color);
  margin-bottom: 10px;
  margin-top: 0px;
}

.error-list-title {
  font-family: "Minecraft", monospace;
  font-size: 1.2rem;
  font-weight: bold;
  color: #ff4d4d; /* Bright red color */
  margin-bottom: 10px;
  text-align: center;
}

.base-url {
  color: var(--text-primary); /* Matching highlight color */
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

/* Hover effect */
.base-url:hover {
  color: var(--highlight-color); /* A bright yellow color for contrast */
  text-shadow: 0px 0px 5px rgba(255, 204, 0, 0.8); /* Glow effect */
}

.offset {
  padding-left: 8px;
}
